<h1>Show Operation</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @operation.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @operation.description %>
  </li>

  <li>
    <strong>Isincome:</strong>
    <%= @operation.isIncome %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.operation_path(@conn, :edit, @operation) %></span>
<span><%= link "Back", to: Routes.operation_path(@conn, :index) %></span>
