<h1>Show Balance</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @balance.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @balance.description %>
  </li>

  <li>
    <strong>Icon:</strong>
    <%= @balance.icon %>
  </li>

  <li>
    <strong>Owner:</strong>
    <%= @balance.owner %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.balance_path(@conn, :edit, @balance) %></span>
<span><%= link "Back", to: Routes.balance_path(@conn, :index) %></span>
